.stat_params_container
	{

	min-height:1000px;

	.chart_container
		{

		max-width:1400px;
		width:100%;
		margin-left:0px;
		margin-right:auto;


		.no_data
			{
		    text-align: center;
		    margin-top: 30px;
		    font-size: 2vw;
		    font-weight: 300;
		    color: #8e8e8e;
		    border-radius: 4px;
		    padding: 10px 0px;
			}
		.no_data:before
			{
		    font: normal normal normal 14px/1 FontAwesome;
		    content: "\f119";
		    font-size: 25px;
		    margin-right: 9px;
			}
		}


	.sorting_labels
		{
		display:inline-block;
		span
			{
			transition:all ease 0.6s;
			cursor:pointer;
			width:150px;
			color:#bdbdbd;
			display:inline-block;
			text-align:center;
			}

		@media(max-width:570px)
			{
			width:100%;
			span
				{
				width:45%;
				vertical-align:middle;
				}
			}


		span:nth-of-type(2)
			{
			margin-left:10px;
			}

		span.active
			{
			background:#4f7ba6;
			color:white;
			}
		}

	.switch
		{
		display:inline-block;
		width:135px;
		margin-left:5%;

		@media(max-width:570px)
			{
			width:110px;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		    margin-top: 10px;
			}



		span
			{
			font-size:20px !important;
			transition:all ease 0.7s;
			vertical-align:middle;
			color:#dcdcdc;
			}
		span.active
			{
			color:#4f7ba6;
			font-weight:bold;
			}


		.lever //background of tumbler
			{
			box-shadow:0px 1px 1px #78a7d4 inset !important;
			background:rgba(146, 197, 245, 0.49) !important;
			}
		.lever:after
			{
			box-shadow:0 1px 2px 0px rgb(86, 107, 128) !important;
			background:#4f7ba6 !important;
			}
		}

	.filters .dropdown_container a
		{
		width:175px;
		}


	.filters
		{
		.inline
			{
			display:inline-block;
			vertical-align:middle !important;
			margin-top:0px !important;
			margin-bottom:0px !important;	
			max-width:30%;
			}

		.input-field, .datepicker_container, .dropdown_container
			{
			@extend .inline;
			}
		.chosen-container
			{
			height:37px !important;
			}

		.chosen-single 
			{
			@media(max-width:800px)
				{
				line-height:26px !important
				}
			}


		@media(max-width:570px)
			{


			.input-field
				{
				width:30%;
				select{width:100%;}
				}
			.dropdown_container
				{
				width:30%;
				font-size:11px;
				a{width:100%}
				}
			.datepicker_container
				{
				width:33%;
				input{font-size:11px;}
				label
					{
					height:15px;
					i
						{
						width:15px;
						height:15px;
						font-size:15px;
						}
					}
				}




			}


		@media(max-width:450px)
			{
			.dropdown_container
				{
				a
					{
					padding:0px 8px !important;
					height:30px;
					line-height:30px;
					}
				}

			.input-field
				{
				select
					{
					height:30px;
					}
				}

			.datepicker_container input
				{
				height:30px;
				}

			}


		@media(max-width:350px)
			{
			.dropdown_container
				{
				a{padding:0px 3px !important;}
				}

			.datepicker_container
				{
				label{display:none;}
				input{width:100%;}
				}

			.input-field select
				{
				font-size:10px;
				}



			}

		}

	}