<div class="stat_general stat_auto">
	<div class="section_name">
		<h1>{{selected_tab['mark']['name']}} {{selected_tab['model']['name']}}</h1>
		<div class="descr large">
		<p>Detailed statistic about chosen car: its average prices by years and races, main locations of advertisements on the map of Ukraine and finally - chart with dots (adverts by years and races). </p>
		</div>
	</div>

	<div class="tab_line">
      <ul class="tabs">
        <li 
        	class="tab col s3"
        	>
        	<a ng-click="switch_tab('avarage_table',0)" 
        		class="active"
        		ng-class="{'active':sub_tab=='avarage_table'}"
    			>Average table</a>
    	</li>
        <li 
        	class="tab col s3"
        	>
        	<a ng-click="switch_tab('map',1)" 
        		class=""
				ng-class="{'active':sub_tab=='map'}"
    			>Map</a>
    	</li>
        <li 
        	class="tab col s3"
        	>
        	<a ng-click="switch_tab('dots',2)" 
        		class=""
				ng-class="{'active':sub_tab=='dots'}"
    			>Dots</a>
    	</li>

      </ul>
	</div>


	<div class="sub_window">
		<div ng-if="sub_tab=='avarage_table'" ui-view="auto_avarage_table"></div>
		<div ng-if="sub_tab=='map'" ui-view="auto_map"></div>
		<div ng-if="sub_tab=='dots'" ui-view="auto_dots"></div>

	    <div class="myspinner on"
	        ng-class="{'on':myspinner['is'],'off':!myspinner['is']}"
    	    ><div></div></div>

	</div>

</div>	