<div class='about_container'>
	
	<div class="title_section">

		<div class="section_name">
			<h1>About</h1>
		</div>

	</div>



	<div class="content">
		<div class="section_name">

			<h2 translate>About Project</h2>

			<p class="flow-text" translate>This project has been finished in a <b>6 month</b>. Entirely, I have spent about <b>360 hours</b>, and it is <b>1-2 months</b> of full-time engagement (process, design, front-end, backend).</p>

			
			<p class="flow-text" translate>Product is designated to help for public understand the avarage prices on cars when someone will be choosing car for purchasing or sellings his own. The history is very simple and relies on human nature, which are in many cases reduced to simply</p>
			<blockquote>buy some respectable things for cheaper price.
			</blockquote>

			 <p class="flow-text" translate>Traversing the advertisements of cars I figured out that it would be better to have kind of aggregated totals about particular car or model to make possible compare with another one of the same class....which one among them will be cheaper....(e.g. Infinity FX 2010 VS Mersedes ML 2010) Here was the idea which I have been starting to pursuit.
			 Now it is finished.</p>

			 <p class="flow-text" translate>Within this project you can:</p> 
			 <blockquote>
			 figure out how much your car worth, and what you can buy having some amount of money.
			 </blockquote>
			 <p class="flow-text">
			  Surely, additionally you can track for trends, and your choice (selected cars to tabs) is saving locally.</p>

			  <p class="flow-text">Across entire project - I was trying to use different kind of toggles, datepickers etc. To say shortly - bring in project enought interactivnesses. And a lot of features I am planning to do, which have not implemented yet because of leak of time. But it is all - the future. Hope I will imporove this product</p>
			<p class="flow-text">Product has been developed and tested in Chrome browser. It may contain some bugs (obviously), I am working to gather all and fix.</p>

			<h2>A bit about me</h2>
			<p class="flow-text" translate>I ve started to learn programming since the end of 2012 year. I like this deal, and every time I tend to improve my skills and experience to be outdone in this area. 

			<p class="flow-text" translate>I do not have IT education, but for me it is not important. I feel myself strong, and every my project becoming gradually much better. My knowledge has been taken from different kind of resources and my knowledge - result of real work and hard labour.

			<p class="flow-text" translate>For me is very important obtain knowledge and skills to make possible converts my ideas into real products faster and stable...finally making good products - make a fortune.

			<h2>My Specialization</h2>
			<p class="flow-text">I am specialized in development of CRM systems, dashboards and any other corporate internal services.
			I like working with charts, tables, toggles, forms, datepickers and entirely chain nodes in process (sign up. login, sell, buy etc)</p>


			<h2>My Stack</h2>
			<p class="flow-text" translate>My stack in which I am working and constantly improve knowledge is next:
			<div class="stack">
				<span><img src="/images/angularjs.jpg"></span>
				<span><img src="/images/nodejs.jpg"></span>
				<span><img src="/images/mongodb.jpg"></span>
			</div>


			<p class="flow-text" translate>I think this stack is one of the perfect for my specialization, and I think another possible stacks may have their own audience, but one of the best is this one.
			I am not planning to change smth...at least in closest future. I like to work with source code of angularJS, deep dive under the hood.
			
			Also, I believe, AngularJS will be living a lot of years. A lot of money was invested, as well as lot of time for studying was invested in it. I suspect plenty of possible admirers can support it.</p>

			<p class="flow-text">But, nevertheless, termination is obvious in long-term. Time-to-time I am thinking about kind of <strong>"Union"</strong> frameworks as some alternative for my current (development both for native applications and for browser). React seems like attractive (in conjunction with React Native), but I am not sure today this is really stable and ready to have fast success as shampain. But looking like prospect. Maybe it is worth to wait till one clear leader will appear. </p>



			<p class="flow-text" translate>Also, I prefer to use MODEL VIEW CONTROLLER rather than component approach. MVC will be living a lot of years...i think. Component approach is very good for well completed, designed mockup of project at inception. In fact it is rare situation.</p>


			<p class="flow-text">Good luck for all!</p>
		

		</div>

	</div>


</div>
