<div class='about_container'>
	
	<div class="title_section">

		<div class="section_name">
			<h1>О проекте</h1>
		</div>

	</div>



	<div class="content">
		<div class="section_name">


			<h2>О проекте</h2>
			<p class="flow-text" translate>Работа над первой версией проекта длилась порядка <b>6 месяцев</b>. Вцелом, порядка <b>360 часов</b>, это примерно <b>1-2 месяца</b> полной занятости по написанию фронтендной части, бекенда, дизайна и продумывания эргономики элементов.
				Немного с одной стороны, но работа продолжается и будет продолжаться.
			</p>


			<p class="flow-text" translate>Цель даного продукта - помочь всем кто интересуется уровнем цен на автомобили и тенденциями на рынке. Необходимость может возникнуть при желании купить или продать автомобиль. На основе статистики текущих средних цен по аналогичным автомобилям - можно оценить примерную стоимость личного автомобиля или наоборот - имея определенную сумму финансов - можно оценить возможности покупки того или иного автомобиля. Основная причина разработки даного проекта была как раз необходимость, располагая определенной суммой денег - найти какие марки автомобилей можно позволить и найти </p>
			<blockquote>более респектабельные по нижней цене.
			</blockquote>

			<p class="flow-text">И для решения этой проблемы (определить что конкретно действительно дешевле чем в среднем, а что переоценено) я изучал цены на автомобили в конечном счете поняв, что есть автомобили в одном классе, но разные по ценам. Например, Mercedes ML  стоит дешевле чем BMW X5 в одном годе и пробеге, а если сравнить самые минимальные цены в одном возрасте - то разрыв еще больше. Для большего примера я видел Mercedes ML 2009 года в цене Ford Kuga 2010 года,  но ведь это разные машины по уровню впечатлений которые они дарят.  Иммено это и был источник причины для проекта - понимать уровень цен и автоматизировать их расчет что б легче выбирать авто или продавать.</p>


			<p class="flow-text">В конечном счете с помощью даного аналитического сайта Вы можете:</p>
			<blockquote>
				понять сколько примерно стоит Ваш автомобиль или что Вы можете позволить купить имея определенную сумму денег.
			</blockquote>
			<p class="flow-text">
				Естественно сайт может быть полезен для людей занимающихся покупкой/продажей автомобилей а также тем кто занимается мониторингом даного рынка (например оценщики).</p>

			<p class="flow-text">В своем продукте я старался использовать разные интерфейсные элементы для улучшения работы с ним (выбор даты, фильтрации, сорторовки и т.д.), иными словами привнести максимально интерактивности. Многие вещи остались нереализоваными, но будут реализовываться постепенно</p>
			<p class="flow-text">Продукт был разработан и протестирован в Chrome. Это условия его использования, т.к. он является бесплатным. Поддержка других браузеров требует времени а соответсвенно ресурсов. Более того, будущее верю что за Chrome, другие браузеры вынуждены будут подстроиться, т.к. разработчики подустают сопровождать один и тот же функционал в разных браузерах. Это время лучше потратить на улучшение продукта пускай и для одного браузера. Это мой подход.</p>
			<p>Продукт может содержать ошибки, но они постепенно находятся и исправляются.</p>


			<h2>Немного обо мне</h2>
			<p class="flow-text">Начал изучать программирование по собственной инициативе с 2012 год, эта работа занимательная и я улучшаю перечень инструментов с которыми работаю. Не получал профильного образования в этой области и многое взял непосредственно из интернета. Из интернета пришло - в интернет должно вернуться. Своим проектом я возвращаю накопленное из интернета.</p>
			<p class="flow-text">Конечная же моя цель - создать продукт, который чуть облегчит жизнь массам или сделает наш мир чуть лучше а меня богаче:) это будет справедливый доход. Я не работаю в онлайн казино, дейтинге и прочих полуофициальных или нелегальных проектах.</p>


			<h2>Моя специализация</h2>
			<p class="flow-text">На данный момент получил опыт и есть интерес работы с CRM системами. Иными словами работа с формами, таблицами, графиками, автоматизация процессов (заявки, менеджмент клиентов, сотрудников и т.д.), разработка систем отчетности.


			<h2>Мой стек</h2>
			<p class="flow-text">Мой стек технологий в котором я работаю:
			<div class="stack">
				<span><img src="/images/angularjs.jpg"></span>
				<span><img src="/images/nodejs.jpg"></span>
				<span><img src="/images/mongodb.jpg"></span>
			</div>


			<p class="flow-text">Считаю что выбранный мной стек является одним из самых лучших по скорости, гибкости разработки а также производительности. Не гонюсь за долями милисекунд, а в остальном много стеков по ощущениям +- одинаковы по производительности. Конечно каждый стек имеет свою армию поклонников и каждый по своему прав, но я выбрал этот стек. Углубляюсь в AngularJS. </p>

			<p class="flow-text">Пока не уверен в широком успехе Angular. Кажется что много проектов так и не будет переписана на вторую версию фреймоврка по причине больших затрат и небольшого профита от перехода. Много денег было инвестировано, много времени на изучение потрачено, что на даный момент не эфективно закопать эти знания. Для природы выгодней продолжить использовать то что есть пока это эффективно.

			<p class="flow-text">Но согласен, что по-тихоньку отмирает AngularJS, именно в своем развитие, которое остановилось. Думаю будет или замена фреймоврку или найдутся поклонники кто сможет спопровождать AngularJS. Среди замены можно обратить внимание на vue.js</p>

			<p class="flow-text">Также,  предпочитаю MODEL VIEW CONTROLLER чем компонентный подход. Компонентный подход хороший, но когда есть фабрика по производству таких компонентов, в противном случае каждый раз каждый компонент нужно допиливать или перепиливать под новый проект а это те же самые затраты.</p>



			<p class="flow-text">Это все о проекте и стеке на котором он написан. Желаю всем удачи!</p>


		</div>

	</div>


</div>
