<div class='about_container'>
	
	<div class="title_section">

		<div class="section_name">
			<h1>About</h1>
		</div>

	</div>



	<div class="content">
		<div class="section_name">

			<h2 translate>About Project</h2>

			<p class="flow-text" translate>This project has been finished in a <b>6 month</b>. Entirely, I have spent about <b>360 hours</b>, and it is <b>1-2 months</b> of full-time engagement.</p>

			
			<p class="flow-text" translate>Product is designated to help for public understand the avarage prices on cars when someone will be choosing car for purchasing or sellings his own.</p>

			<p class="flow-text" translate>The history is very simple and relies on human nature, which are in many cases reduced to simply 
			<blockquote>buy some respectable things for cheaper price.
			</blockquote>

			 <p class="flow-text" translate>Traversing the advertisements of cars I figured out that it would be better to have kind of aggregated totals about particular car or model to make possible compare with another one of the same class....which one among them will be cheaper....(e.g. Infinity FX 2010 VS Mersedes ML 2010) Here was the idea which I have been starting to pursuit.
			 Now it is finished.</p>

			 <p class="flow-text" translate>Within this project you can</p> 
			 <blockquote>
			 figure out how much you car worth, and what you can buy having some amount of money.
			 </blockquote>
			 <p class="flow-text">
			  Surely, you can track for trends, and your choise (selected cars to tabs) saving depends on browser.</p>

			  <p class="flow-text">Cross entire project - I was trying to put different king of toggles, datepickers etc. To say shortly - bring enought interactivnesses, modes. And a lot of features I was planning, which are not in this version because of leak of time. Hoope I will imporove this product</p>


			<h2>A bit about me</h2>
			<p class="flow-text" translate>I ve started to learn programming since the end of 2012 year. I like this deal, and every time I tend to improve my skills and expirience to be outdone in this area. 

			<p class="flow-text" translate>I do not have IT education, but for me it is not important. I feel myself strong, and every my project becoming gradually much better. All my knowledge taken from different kind of resources and my knowledge - result of real work and hard labour.

			<p class="flow-text" translate>For me is very important obtain knowledge and skills to make possible converts my ideas into real products faster and stable...finally making good products - make a fortune.

			<h2>My Specialization</h2>
			<p>I am specialized on development of CRm systems, dahsboards and any otheer corporate internal services.

			<p>I like working with charts, tables, toggles, forms, datepickers and entirely chain nodes in proceses (sign up. login, sell, buy etc)


			<h2>My Stack</h2>
			<p class="flow-text" translate>My stack in which I am working and constantly improve knowledge is next:
			<div class="stack">
				<span><img src="/images/angularjs.jpg"></span>
				<span><img src="/images/nodejs.jpg"></span>
				<span><img src="/images/mongodb.jpg"></span>
			</div>


			<p class="flow-text" translate>I think this stack is one of the perfect for my specialization, and I think another possible stacks may have their own audience, but one of the best is this.

			<p>I am not planning to changine smth. I like to work with source code of angularJS, deep dive under the hood.

			<p>But, Nevertheles,time-to-time I am thinking about union frameworks as some alternative for my current (development both for native applications and for browser). SeemsReact only seems like attrective (in conjunction with React Native), but I am not sure today this is really stable and ready to have fast success as spampain. But looking like prospective. Maybe it is worth to wait till one leader will appear. Seems. like React hase easy promoted entrance, but in fact it is difficult.



			<p class="flow-text" translate>I prefer to use MODEL VIEW CONTROLLER rather then component approach. MVC will be living a lot of years...i think. </p>

			<p>Component approach is very good for very good completed mockup and design. if we have at inception ready mockup with design. But in fact it is fantasy.

			<blockquote>Also, I believe, AngularJS also will be living a lot of years, it was right solution, right time, right fieatures...a lot of money was invested, a lot of time of stydyng was invested in it. it was like shampain.
			</blockquote>

			<h2>About the Future</h2>


			<p>At least, I believe, will be enought of admiers, who will fork this framework (if Google wil lstop supporting it)
			</p>

			<p class="flow-text" translate>If you aggre with me - OK! If not - no problem. I will not try to change you, but do not try to change me.

			<blockquote>I simply want to make money making good products. I found tecknologies, which allow me complete it.....at least I think so. 
			</blockquote>


			<p class="flow-text">Good luck for all!</p>
		

		</div>

	</div>


</div>